@import url('https://use.typekit.net/beb5scd.css');
html {
  background-color: #fbf0ee;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'eurostile', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  max-width: 800px;
  font-size: 1rem;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 12px 0;
}

a {
  max-width: 800px;
  font-size: 1rem;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 12px 0;
  text-decoration: none;
}
